.footer {
  text-align: center;
  padding-bottom: 200px;
  .location {
    font-size: 18vw;
    text-transform: uppercase;
    font-family: LK;

    opacity: 0;
    &.is-reveal {
      opacity: 1;
    }
  }
}
