.animation-box {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.animation-container {
    width: 1000rem;
    height: 30rem;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    100% {
        opacity: 0%;
    }
}

.fourth-text {
    width: 100%;
    font-size: 3.4rem;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    letter-spacing: 8px;
    color: white;
    font-family: 600;
    animation-name: fadeInOut;
    animation-delay: 0s;
    animation-duration: 3s;
}

.fifth-text {
    height: 100%;
    font-size: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    letter-spacing: 8px;
    color: white;
    font-family: 600;
    animation-name: fadeInOut;
    animation-delay: 3s;
    animation-duration: 1s;
}

.loading {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(5, 5, 5) !important;

    animation-fill-mode: forwards;
}

@keyframes slide-out-container {
    0% {
        height: 100vh;
    }

    40% {
        height: 100vh;
    }

    100% {
        height: 0%;
    }
}
